<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878138533960-26mg1dm74rort2mr9b99ginu39or3vc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878138533960-26mg1dm74rort2mr9b99ginu39or3vc0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>878138533960-cfeo9ibpi6nlf95tuhujjk358gsr803e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAv5yFh_x93cEJpY1xtaEY8wXEStCeysqg</string>
	<key>GCM_SENDER_ID</key>
	<string>878138533960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timetracker</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-f1ff9</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-f1ff9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878138533960:ios:1af98e532bede669f2107d</string>
	<key>DATABASE_URL</key>
	<string>https://time-tracker-f1ff9.firebaseio.com</string>
</dict>
</plist>